table {
    border-collapse: collapse;
    margin-top: 20px;
}
table td {
    border: 1px solid blue;
    width: 20px;
    height: 20px;
    text-align: right;
    padding: 3px;
}

.trail {
    background-color: #009fff;
}

.hill{
    background-color: orange;
}

.plane{
    background-color: chartreuse;
}

.mountain{
    background-color: #cd6b00;
}

.highMountain{
    background-color: #915900;
}